/* contact.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container {
    background-color: black; /* Add background color to the container */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */

}

.contact-container {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
} 
  
    /* Center the form horizontally */
.contact-form {
    width: 100%;
    max-width: 300px;
}
  
  /* Other styles remain the same */
.contact-title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Lucida Calligraphy", "Lucida Handwriting", cursive; /* Use Lucida Calligraphy or any cursive font */
}
  
.contact-email {
    text-align: center;
    color: yellow;
}

.contact-email a {
    color: yellow;
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    margin: 0.5rem;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 250px;
}
  
.input a {
    height: 40px;
    width: 275px;
}

.input email {
    width: 375px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;   
}
  
.contact-paragraph {
    font-size: 22px;
    font-style: italic;
    color: white;
    margin: 0.5rem;
    margin-bottom: 20px;
}

button[type="button"] {
    background-color: yellow;
    margin-left: 10px;
    margin-bottom: 20px;
}

.success-text {
    color: red;
    font-size: 24px;
    margin: 0.5rem;
    margin-top: 20px;
}

@media screen and (max-width: 505px) {
.contact-container {
    top: 0;
    left: 0;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 20px;
    margin-right: 50px;
    padding-right: 50px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
    } 

.contact-form {
    width: 200px;
    }
    
.contact-title {
    text-align: center;
    margin-left: 60px;
    margin-top: 10px;
    padding-top: 10px;
    color: white;
    font-size: 24px;
    font-family: "Lucida Calligraphy", "Lucida Handwriting", cursive; /* Use Lucida Calligraphy or any cursive font */
    }

    .contact-paragraph {
        font-size: 16px;
        font-style: italic;
        color: white;
        margin: 0.5rem;
        margin-bottom: 20px;
        text-align: left;
    }

    .contact-email a {
        text-align: center;
        color: yellow;
        font-size: 24px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        overflow-y: hidden;
    }

    .contact-container {
        top: 0;
        left: 0;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 60px;
        margin-top: -80px;
        padding: 5px;
        border-radius: 10px;
        overflow-y: hidden;
        }

    h1.contact-title {
        font-size: 24px;
        font-weight: bolder;
        margin-left: 0;
    }

    .contact-email a {
        margin: 0;
    }

    .contact-paragraph {
        font-size: 18px;
        font-style: italic;
        color: white;
        text-align: left;
        padding-left: 40px;
        padding-right: 5px;

        
    }

    .contact-form {
        width: 250px;
    }

    .contact-form label {
        width: 100px;
        max-width: 220px;
    }

    .contact-form input {
        width: 100%; 
        max-width: 200px; 
    }
}