.footer {
    width: 100%;
    position: fixed;
    background-color: black;
    border-top: 6px solid red;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size: 16px;
    padding: 1rem;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin-top: 0;
}
 
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.created-by {
    margin: 0 20px;
    font-family: "Lucida Calligraphy", sans-serif;
}
