body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: black; 
  overflow-x: hidden; 
}

.resume-container {
  background-image: url('../img/black.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 100px;
  margin: 0 auto;
  max-width: 90%;
  height: 100vh;
  color: #fff;
  font-size: 26px; 
  padding: 20px; 
  padding-left: 160px;
  padding-right: 40px;
  padding-top: 100px;
  padding-bottom: 80px;
  overflow-y: auto;
}

h2 {
  text-align: left;
  padding-top: 80px;
  margin-left: 10px;
  font-size: 50px;
  font-family: "Lucida Calligraphy", "Lucida Handwriting", cursive; 
  font-weight: bolder;
}

h2 p {
  text-align: left;
  margin-left: 10px;
}

h3 {
  padding-left: 10px;
}

h4 {
  padding-left: 10px;
}

.resume-header {
  text-align: center;
  margin-top: 10px;
  text-align: center;
  font-size: 2rem; /* 32px */
}
  
.resume-link {
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 10px;
  font-size: 30px;
  color: red;
}
  
.resume-link:hover {
  color: yellow;
}
  
.resume-skills p {
  margin-left: 10px;
}

.resume-skills-header {
  padding-top: 1rem; /* 16px */
  font-size: 1.5rem; /* 24px */
}
  
.resume-skills-subheader {
  font-size: 1.25rem; /* 20px */
}

.resume-container p {
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
}


@media screen and (max-width: 1250px) {
  .resume-container {
    top: 100px;
    padding-top: 240px;
    padding-left: 100px;
    padding-right: 30px;
    font-size: 18px;
  }

  h2 {
    margin-top: 10px;
    padding-top: 40px;
    font-size: 36px;
  }
}

@media screen and (max-width: 815px) {
  .resume-container {
    top: 100px;
    padding-top: 240px;
    padding-left: 60px;
    padding-right: 30px;
    font-size: 18px;
  }

  h2 {
    margin-top: 10px;
    padding-top: 40px;
    font-size: 36px;
  }
}

@media screen and (max-width: 580px) {
  .resume-container {
    top: 100px;
  }
}


@media screen and (max-width: 450px) {
  .resume-container {
    top: 100px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    font-size: 16px;
  }

  .container {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .resume-link {
    font-size: 20px;
    font-weight: bolder;
  }
}
