body {
  background-color: black;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  margin-top: 500px;
  height: 100vh; /* Set height to viewport height */
  width: 100%;
  overflow-x: view;
  overflow: auto; /* Allow scrolling if content exceeds viewport height */
}

.resume-container {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    font-size: 20px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 400px;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  
  h2 {
    text-align: left;
    padding-top: 100px;
    margin-left: 40px;
    font-size: 30px;
    font-family: "Lucida Calligraphy", "Lucida Handwriting", cursive; /* Use Lucida Calligraphy or any cursive font */
    font-weight: bolder;
  }

  h2 p {
    text-align: left;
  }

  .resume-header {
    text-align: center;
    margin-top: 40px;
    text-align: center;
    font-size: 2rem; /* 32px */
  }
  
  .resume-link {
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
    padding-top: 40px;
    color: red;
  }
  
  .resume-link:hover {
    color: yellow;
  }
  
  .resume-skills-header {
    padding-top: 1rem; /* 16px */
    font-size: 1.5rem; /* 24px */
  }
  
  .resume-skills-subheader {
    font-size: 1.25rem; /* 20px */
  }
  
  @media screen and (max-width: 500px) {
  .resume-container {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    font-size: 18px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 400px;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  h2 {
    text-align: center;
    padding-top: 80px;
    margin-left: 40px;
    font-size: 30px;
  }

  .resume-link {
    text-align: center;
    margin-top: 100px;
    margin-left: 30px;
    padding-top: 40px;
    color: red;
  }

}
